
<%- include('./partials/head') %>
<header>
  <h1>FDND Squadpage</h1>
  <h2>Pick a squad</h2>
  </header>

 <section class="wrapper">
    <nav class="mobile-nav straight-nav">
        <button class="nav-home-position-A nav-second-screen-position-A">A</button>
        <button class="nav-home-position-B nav-second-screen-position-B">B</button>
        <button class="nav-home-position-C nav-second-screen-position-C">C</button>
    </nav>
 </section>

 <section class="hex-wrapper">
  <article>
  
 

  <% squad.members.forEach(member => { %>
    <div class="hexagon">
    <h2><%= member.name %> <%= member.prefix %> <%= member.surname %></h2>
    

      <% if (member.avatar) { %>
      <img src="<%= member.avatar %>" alt="De avatar van <%= member.name %>" />
      <% }else{ %>
      <img src="/placeholder.jpg" alt="Placeholder avatar" />
      <% } %>
    
    </article>
    <% }) %>
  
 </div>
</section>

</body>
</html>

<%- include('./partials/foot') %>